.container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
}

.jc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}